{% extends 'Sign/home.html' %}
{ % load static % }
{% block content %}




<div class="container" style="    padding: 34px 0px 19px 0px;">
  <h2> Drivers Table</h2> 
  <button class="dropdown-toggle btn btn-secondary" style="float: right;margin-top: -45px;" data-toggle="dropdown" href="#">SELECT ROLE<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li style="margin-left : 40px" class="Active"><a href="{% url 'workers' %}">ALL</a></li>
    <li style="margin-left : 40px"><a href="{% url 'workerpainter' %}">Painters</a></li>
    <li style="margin-left : 40px"><a  href="{% url 'workerplumber' %}">Plumbers</a></li>
    <li style="margin-left : 40px"><a  href="{% url 'driver' %}">Drivers</a></li>
    <li style="margin-left : 40px"><a  href="{% url 'electrician' %}">Electricians</a></li>
    <li style="margin-left : 40px"><a  href="{% url 'carpenter' %}">Carpenter</a></li>


</ul>

  
  <hr>
</div>
      <div class="card spectrum-backgroundc " style="
                
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 2%;
      margin-left: 3%;
      border-radius: 5px;
      margin-right: auto;
      width: 94%;



        ">




      <div class="row">
            <!--Table-->
              <table class="table table-hover table-fixed" style="
              margin-right: 27px;
          ">

                    <!--Table head-->
                    <thead>
                      <tr>
                        <th>Worker Name</th>
                        <th>Contact Number</th>
                        <th>Category</th>
                        <th>Visiting Charges</th>
                        <th>Experience</th>
                      </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    {% for i in response %}
                      <tr>
                        <th scope="row">{{i.fname}} {{i.lname}}</th>
                        <td>{{i.contact_no}}</td>
                        <td>{{i.category}}</td>
                        <td>{{i.visiting_charges}}</td>
                        <td>{{i.experience}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <!--Table body-->

                  </table>
                  <!--Table-->
        </div>
    </div>

{% endblock %}
