{% load static%}
<!DOCTYPE html>

<html>
<head>
    <title>PILLARS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>

.spectrum-backgrounda {
    background:
        linear-gradient(#45bfe4, transparent),
        linear-gradient(to  right, #3895d3, transparent),
        linear-gradient(to  left, #072f5f, transparent);
    background-blend-mode: screen;
}


</style>
<body >

  

<br>
<br>

<center>
<div class="card " style="
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                        transition: 0.3s;
                        margin-top: 5%;
                        border-radius: 35px;
                        width:60%">

  <br>

<main role="main" class="container" style="margin-left: auto;margin-right: auto;width:auto;margin-top: -24px;">

  
<div class="card-columns">
    
    <div class="card " style="width: 24rem;border-color: white;border-radius: 36px;margin-bottom: 0px;">
  <div class="card-body">
     <center>
    <h6 class="card-text" style="color: #3d0546;">Hey Welcome back! <br> please sign in to get in</h6><br>
    </center>

        <img src={% static "media/TOES_Logo.png"%} style="
    width: 98%;
    padding-left: 38px;
    padding-bottom: 37px;
    border: radius;
    border-color: #f34242;
">

<br> <h6>TOES</h6>
  
      
  </div>
</div>
    
    <div class="card spectrum-backgrounda" style="width: 25rem;margin-left: 34px;margin-top: 0px;border-radius: 35px;margin-bottom: 0px;background-color: #2B1EC0;">
        <p class="card-title" style="padding-top: 15px;color: white;font-size: 26px;">Admin Log In</p>
        <hr width="300px;" color="white"
        size="200"> 

        <center><p style="color: #00000073;">Manage Your Admin Page<br> With Ease</center> 
  <div class="card-body">

    <form method="post">
    {% csrf_token %}
        <label for="uname"><p style="color: white;">Username</p></label><br>
          <input style="width: 76%;margin-top: -17px;" type="phone" class="form-control" id="pwd" placeholder="Phone" name="phone">
<br>
    <label for="psw"><p style="color: white;">Password</p></label>
    <br>
    <input style="width: 76%;margin-top: -17px;"  type="password" class="form-control" id="pwd" placeholder="Password" name="password">
        <br>
<button type="submit" class="btn btn-primary"style="width: 37%;border-radius: 35px;color:black">Login</button>
    <label>
      <div><input type="checkbox"   checked="checked" name="remember"> <div style="color: #c1baba;display:inline;">Remember me</div></div>
    
    </label>

</form>
   
    <a href="{% url "forget_pass" %}"  ><u style="color:white"><p>Forgot Password?</p></u></a>
    <br>
<div class="container">
    <p style="color:black;margin-bottom: 0px;">from</p>
    <p style="color:white;margin-bottom: -1px;">PILLARS</p></div>
  </div>
</div>
    
</div>
</div>

</div>


</center>
</body>
</html>