{% extends 'Sign/home.html' %}
{ % load static % }
{% block content %}

    


    <div class="container-fluid" >
      <div class="row" style="  margin-top: 108px;" >
 <center> 
        <form style="margin-left:226px;width:191%"> 
            <div class="input-icons"> 
                <i class="fa fa-search icon"> 
              </i> 
                <input class="input-field" 
                       type="text" 
                       placeholder="Search Workers"> 
            </div> 
            </form>
 </centre>
      <button style="align:float-right;margin-left:145px" class="dropdown-toggle" data-toggle="dropdown" href="#">SELECT ROLE<span class="caret"></span></button>

      </div>
      
      <div class="row" style="  margin-top:10px;" >
            <!--Table-->
              <table class="table table-hover table-fixed" style="margin-left: 226px;margin-right: 25px;">

                    <!--Table head-->
                    <thead>
                      <tr>
                        <th>Sr.No</th>
                        <th>Name</th>
                        <th>Email Id</th>
                        <th>Username</th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th>Adhar No</th>
                        <th>Gender</th>
                        <th>Work</th>
                      </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>

                      <tr>
                        <th scope="row">9</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>

                      <tr>
                        <th scope="row">9</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>

                      <tr>
                        <th scope="row">9</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>

                      <tr>
                        <th scope="row">9</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>

                      <tr>
                        <th scope="row">9</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>

                      <tr>
                        <th scope="row">9</th>
                        <td>Aadesh</td>
                        <td>Addy123@gmail.com</td>
                        <td>addy</td>
                        <td>28198928</td>
                        <td>dattawadi</td>
                        <td>ftr5152</td>
                        <td>Male</td>
                        <td>Electrician</td>
                      </tr>
                    </tbody>
                    <!--Table body-->

                  </table>
                  <!--Table-->
        </div>            
    </div>

{% endblock %}

